body{
    background: linear-gradient(180deg, rgba(15, 197, 197, 0.5) -28.36%, rgba(85, 4, 99, 0.495) 55.49%);
}

.Buscador{
    width: 25vw;
}
.container-container{
    margin-top: 8vh;
}
.b-container{
    margin-bottom: 3vh;
    position: relative;
    height: 8vh;
    width: 60vw;
    background: rgba(255, 255, 255, 0.19);
}
.usu-container{
    display: table;
    top: .5vh;
    position: absolute;
    
}
.nomUsuarios{
    display: table-cell;
    vertical-align: middle;
    background-color: transparent;
    border-color: transparent;
    padding-left: 1vw;
}
.imgPerfil{
    height: 6vh;
    width: 4vw;
    border-radius: 50%;
    position: relative;
    top: 15%;
}
.agregarAmigo{
    position: absolute;
    top: 37%;
    left: 85%;
}