body{
    background: linear-gradient(180deg, rgba(15, 197, 197, 0.5) -28.36%, rgba(85, 4, 99, 0.495) 55.49%);
}

.Buscador{
    width: 25vw;
}
.usu-container{
    position: relative;
    height: 8vh;
    width: 60vw;
    background: rgba(255, 255, 255, 0.19);
}
.nomUsuarios{
    position: relative;
    background-color: transparent;
    border-color: transparent;
    top: -5%;
}
.imgPerfil{
    height: 6vh;
    width: 4vw;
    border-radius: 50%;
    position: relative;
    top: 15%;
}