html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    background: linear-gradient(180deg, rgba(17, 133, 133, 0.64) 0.52%, rgba(250, 201, 129, 0.828889) 70.83%, rgba(255, 80, 56, 0.72) 100%);
    box-shadow: 8px 14px 28px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.circle{
    padding: 15px;
    height: 100vh;
    width: 56.4vw;
    left: -19vw;
    top: -57vh;
    border-radius: 50%;
    position: absolute;
    background-color: #908E8D;
    text-align: center;
    border: 5px solid;
    border: linear-gradient(180deg, rgba(255, 255, 255, 0.29) 63.54%, rgba(253, 174, 56, 0.63) 81.77%, rgba(251, 8, 139, 0.22) 99.48%);
}
p{
    color: white;
    position: absolute;
    height: 30vh;
    width: 36vw;
    top: 0px;
    margin-top: 5vh;
    left: 43px;
    font-style: normal;
    font-size: 60px;
    line-height: 11.43vh;
    text-align: left;
    background-clip: text;
    font-family: 'Kameron';

}
section {
    position: absolute;
    left: 40vw;
	display: flex;
	align-items: center;
}
input{
    font: inherit;
}
form > div{
    display: flex;
    background:#fff;
	padding: 9px 22px 9px 26px;
	border-radius: 30px;
}
form input {
	border:none;
	background: transparent;
	font-weight: bold;
	padding-left: 24px;
	background-image: url(https://image.flaticon.com/icons/png/512/116/116836.png);
	background-size: 16px;
	background-repeat: no-repeat;
    outline: none;
}
#Etiquetas{
    position: relative;
    top: 60vh;
    left: auto;
    margin-top: auto;
    margin-inline: 20px;
}
#Etiquetas:hover{
    width: 100px;
	height: 100px;
}
.LoginBtn{
    position: absolute;
    top: 15rem;
}