html{
    height: 100%;   
}
body{
    height: 100%;
    background: linear-gradient(180deg, rgba(5, 187, 143, 0.13) 6.07%, rgba(255, 13, 71, 0.25) 106.07%);
    background-repeat: no-repeat;    
    
}
.btnMatch{
    width: 120px;
    height: 80px;
    position: absolute;
    z-index: 5;
}
.tags-container{
    width: 18vw;
    height: 30vh;
    background-color: grey;
}
.tags{
    background-color: black;
    color: white;   
    display: flex;
    margin: 5px;
}
.container{
    width: 100vw;
    height: 100vh;
}
.usuarioLeft{
    position: absolute;
    height: 100vh;
    width: 40vw;
    display: flex;
    border-right: 0.2rem black solid;
    flex-direction: column;
    align-items: center;
}
.usuarioRight{
    position: absolute;
    height: 100vh;
    width: 60vw;
    left: 40%;
    display: flex;
    flex-direction: column;
}
.publicaciones-container{
    position: relative;
    display: flex;
    width: 50vw;
    height: 56.6vh;
    top: 15%;
    left: 5%;
}
.publicaciones{
    width: 25vw;
    height: 55vh;
    border: 5px solid;
    border-color: linear-gradient(180deg, rgba(255, 0, 0, 0.19) 0%, rgba(0, 26, 255, 0.19) 100%);;
    border-radius: 10%;
}
.comentarios{
    position: absolute;
    left: 30vw;
    width: 20vw;
    height: 56vh;
    background-color: aliceblue;
    border-radius: 10%;
    text-align: center;
}
.phPerfil {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: #f0a 0.5rem solid;
}
.likes{
    position: absolute;
    background: url('pngegg (2) 1.png') no-repeat;
    height: 4vh;
    width: 2vw;
}