body{
    background: linear-gradient(180deg, rgba(0, 249, 249, 0.3192) -22.33%, rgba(89, 7, 102, 0.3192) 75.59%);
}
.CheshireCat{
    height: 80vh;
    width: 40vw;
    margin: auto;
}
.top-matcheo{
    display: flex;
    justify-content: center;
    padding-top: 8%;
}
.fotomatch-container{
    width: 150px;
    height: 171px;
    padding-right: 50px;
    text-align: center;
}
.fotoMatch{
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}
img{
    width: 100%;
    height: 100%;
}
.hoverFotoMatch{
    background-color: azure;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
}

.hoverFotoMatch:hover{
    opacity: .5;
}
.agregarM-container{
    position: relative;
    width: 170px;
    height: 150px;
}
.agregarM{
    position: absolute;
    width: 169px;
    height: 150px;
    background: url('pngegg (3) 1.png');
    filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.47));
    border: none;
    display: flex;
}
.child-link{
    position: absolute;
    width: 100%;
    height: 100%;
}
.labels-container{
    display: flex;
    left: 30%;
    width: 40vw;
    height: 40vh;
    border-radius: 10%;
    background-color: #ddd;
}
.tagSim{
    display: flex;
    width: 25%;
    height: 8%;
    background-color: black;
    color: white;
}