img {
    width: 10rem;
    height: 10rem;
}
html{
    height: 100%;   
}
body{
    height: 100%;
    background: #d9d9d9;
    background-repeat: no-repeat;    
}
.btnMatch{
    width: 120px;
    height: 80px;
    position: absolute;
    z-index: 5;
}
.tags{
    position: relative;
    width: 12rem;
    height: 6rem;
    background-color: #777;
    
}
.usuarioLeft{
    border-right: 0.2rem black solid;
}
