html{
    height: 100%;   
}
body{
    height: 100%;
    background: linear-gradient(180deg, rgba(5, 187, 143, 0.13) 6.07%, rgba(255, 13, 71, 0.25) 106.07%);
    background-repeat: no-repeat; 
}

.login-cajaz {
	position: absolute;
	width: 100%;
	height: 156px;
	left: 0px;
	top: 0px;

	background: linear-gradient(180deg, rgba(203, 173, 241, 0.82) 0%, rgba(255, 33, 33, 0.07) 114.1%);
}
.perfil-cajamatch {
	position: absolute;
width: 453px;
height: 133px;
left: 30%;
top: 4%;
}
.fotoperfil {
    position: absolute;
	width: 671px;
	height: 634px;
	left: 60%;
	top: 6%;
}




.perfil-perfil {
	position: absolute;
width: 257px;
height: 109px;
left: 85%;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.perfil-match{
	position: absolute;
width: 836px;
height: 106px;
left: 1000px;
top: -100px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 132px;

background: linear-gradient(180deg, #FF0B0B 5.73%, #FFE600 39.06%, rgba(255, 127, 9, 0.07) 52.6%, rgba(255, 20, 232, 0.74) 68.23%, #12FFF1 86.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}


.perfil-publicaciones {
	position: absolute;
width: 580px;
height: 138px;
left: 35%;
top: 117px;

font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 138px;

background: linear-gradient(180deg, rgba(255, 1, 214, 0.98) 0%, rgba(5, 23, 67, 0.98) 47.92%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.perfil-nombre {position: absolute;
    width: 818px;
    height: 108px;
    left: 142px;
    top: 550px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    
    color: rgba(0, 0, 0, 0.98);
    }
    
    .perfil-tags {
        position: absolute;
    width: 130px;
    height: 92px;
    left: 37px;
    top: 628px;
    
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 92px;
    
    color: rgba(0, 0, 0, 0.98);
    }

    .perfil-btn1 {
        position: absolute;
    width: 252px;
    height: 76px;
    left: 52px;
    top: 835px;
        font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
        color: #FFFFFF;
    
    
    background: rgba(0, 0, 0, 0.88);
    border-radius: 15px;
    }
    .perfil-btn2 {
        position: absolute;
    width: 252px;
    height: 76px;
    left: 334px;
    top: 836px;
            font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
        color: #FFFFFF;
    
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    }
    .perfil-btn3 {
        position: absolute;
    width: 252px;
    height: 76px;
    left: 52px;
    top: 943px;
            font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
        color: #FFFFFF;
    
    background: rgba(0, 0, 0, 0.85);
    border-radius: 15px;
    }
    .perfil-btn4 {
        position: absolute;
    width: 252px;
    height: 76px;
    left: 334px;
    top: 943px;
            font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
        color: #FFFFFF;
    
    background: rgba(0, 0, 0, 0.86);
    border-radius: 15px;
    }
    .perfil-btn5 {
        position: absolute;
    width: 252px;
    height: 76px;
    left: 52px;
    top: 1051px;
            font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
        color: #FFFFFF;
    
    background: rgba(0, 0, 0, 0.84);
    border-radius: 15px;
    }
    .perfil-btn6 {
    position: absolute;
    width: 252px;
    height: 76px;
    left: 334px;
    top: 1050px;
            font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
        color: #FFFFFF;
    
    background: rgba(7, 6, 0, 0.86);
    border-radius: 15px;
    }
 
    .comentarios-titulo {
        position: absolute;
        width: 315px;
        height: 109px;
        left: 1636px;
        top: 380px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        
        color: #000000;
        
        }
        
        .comentario-1 {
        position: absolute;
        width: 344px;
        height: 116px;
        left: 1680px;
        top: 488px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        
        color: #000000;
        
        }
        
        .comentario-2 {
        position: absolute;
        width: 344px;
        height: 116px;
        left: 1540px;
        top: 488px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: #FF00D6;
        }
        
        
        .comentario-3 {
        position: absolute;
        width: 408px;
        height: 88px;
        left: 1540px;
        top: 581px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: #16830D;
        }
        
        .comentario-4 {
        position: absolute;
        width: 408px;
        height: 88px;
        left: 1723px;
        top: 581px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
        }
        .comentario-5 {
        position: absolute;
        width: 408px;
        height: 88px;
        left: 1550px;
        top: 620px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
        }
        
        .comentario-6 {
        position: absolute;
        width: 408px;
        height: 88px;
        left: 1540px;
        top: 681px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: #16830D;
        }
        
        .comentario-7 {
        position: absolute;
        width: 408px;
        height: 132px;
        left: 1723px;
        top: 681px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        
        }
        .comentario-8 {
        position: absolute;
        width: 408px;
        height: 132px;
        left: 1550px;
        top: 721px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        
        }

        .coments {
            position: absolute;
            width: 473px;
            height: 603px;
            left: 1517px;
            top: 399px;
            
            background: rgba(255, 255, 255, 0.24);
            
            }
        

        .fotoperfil {
            position: absolute;
            width: 340px;
            height: 336px;
            left: 123px;
            top: 231px;
            
            border-radius: 30px;
        }

        .post {
            position: absolute;
            width: 640px;
            height: 582px;
            left: 850px;
            top: 399px;
        }

        .editar-perfil {
            box-sizing: border-box;
        
            position: absolute;
            width: 257px;
            height: 109px;
            left: 85%;
            top: 40px;
        
            background: linear-gradient(180deg, rgba(203, 173, 241, 0.82) 0%, rgba(255, 33, 33, 0.07) 114.1%);
            border: 2px linear-gradient(180deg, rgba(203, 173, 241, 0.82) 0%, rgba(255, 33, 33, 0.07) 114.1%);
           border-radius: 50px;
             
             font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        
        color: #000000;
        }

        .perfil-menu {
            box-sizing: border-box;
        
            position: absolute;
            width: 257px;
            height: 109px;
            left: 105px;
            top: 40px;
        
            background: linear-gradient(180deg, rgba(203, 173, 241, 0.82) 0%, rgba(255, 33, 33, 0.07) 114.1%);
           border: 2px linear-gradient(180deg, rgba(203, 173, 241, 0.82) 0%, rgba(255, 33, 33, 0.07) 114.1%);
           border-radius: 50px;
             
             font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
        
            color: #000000;
        }

        .perfil-cajamatch {
            position: absolute;
        width: 453px;
        height: 133px;
        left: 948px;
        top: 11px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 56px;
        }