
  
  .login-boton {
	 box-sizing: border-box;

	position: absolute;
	width: 216px;
	height: 86px;
	left: 70%	;
	top: 32px;

	background: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 50px;
	  
	  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

}

  .login-registrarse {
	box-sizing: border-box;

	position: absolute;
	width: 216px;
	height: 86px;
	left: 85%;
	top: 32px;

	background: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 50px;
	  
	  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

}
 .login-caja {
	position: absolute;
	width: 100%;
	height: 156px;
	left: 0px;
	top: 0px;

	background: linear-gradient(180deg, rgba(0, 178, 255, 0.78) 0%, rgba(9, 255, 196, 0.72) 0.01%, rgba(9, 211, 211, 0.58) 48.44%, rgba(233, 139, 229, 0.93) 100%);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login-fondo {
	position: absolute;
	width: 100%;
	height: 1268px;
	left: 0px;
	top: 156px;

	background: linear-gradient(180deg, rgba(0, 255, 209, 0.2128) -15.69%, rgba(252, 186, 18, 0.3572) 82.22%);
	border-radius: 10px;
}
.login-imagen {
	position: absolute;
	width: 671px;
	height: 634px;
	left: 60%;
	top: 82px;
}

.login-texto {
	position: absolute;
	width: 760px;
	height: 754px;
	left: 60%;
	top: 554px;

	font-family: 'Jaldi';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 144.52%;
	/* or 52px */

	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #000000;

}
.login-circulo {
	box-sizing: border-box;
-moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
position: absolute;
width: 1193px;
height: 1193px;
left: -248px;
top: 263px;

background: linear-gradient(201.71deg, #43D8EC 19.54%, rgba(217, 217, 217, 0) 92.05%, #83B0A4 92.05%);
border: 1px solid #FEF6ED;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login-copy {
	position: absolute;
width: 651px;
height: 223px;
left: 68px;
top: 399px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 92px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #3B3232;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.login-copy2 {
	position: absolute;
width: 395px;
height: 92px;
left: 68px;
top: 645px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 92px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #3C3232;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login-copy3 {
position: absolute;
width: 395px;
height: 92px;
left: 68px;
top: 750px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 92px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #3C3232;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login-match {
	position: absolute;
left: 0.67%;
right: 2.23%;
top: 650px;


font-family: 'Verdana';
font-style: italic;
font-weight: 400;
font-size: 150px;
line-height: 144.52%;
/* or 217px */

letter-spacing: 0.05em;
text-transform: uppercase;

background: linear-gradient(180deg, #0E43FF 6.77%, rgba(255, 10, 10, 0.63) 90.1%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(-9.68deg);
	
}
.login-line {
	position: absolute;
width: 724.85px;
height: 0px;
left: -65px;
top: 1138px;

border: 7px solid #BE04C1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(-11.22deg);
}
.login-line2 {
	position: absolute;
width: 724.85px;
height: 0px;
left: -158px;
top: 1185px;

border: 7px solid #8816FB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(-11.22deg);
}
.login-rectangulo {
	position: absolute;
width: 754px;
height: 1031px;
left: 594px;
top: 82px;

background: #FFFFFF;
mix-blend-mode: normal;
box-shadow: 0px 4px 195px rgba(0, 0, 0, 0.25);
border-radius: 28px;
}
.login-nombre {
	position: absolute;
width: 622px;
height: 94px;
left: 660px;
top: 211px;

font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;
/* or 52px */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}
.login-cuenta {
	box-sizing: border-box;

position: absolute;
width: 631px;
height: 93px;
left: 650px;
top: 308px;
	
	font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;

border: 1px solid #000000;
border-radius: 13px;
}
.login-pass {
	position: absolute;
width: 622px;
height: 94px;
left: 655px;
top: 493px;

font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;
/* or 52px */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}
.login-pass2 {
	box-sizing: border-box;

position: absolute;
width: 631px;
height: 93px;
left: 647px;
top: 602px;
	
	font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;

border: 1px solid #000000;
border-radius: 13px;
}
 .login-botonpass {
	 box-sizing: border-box;

	position: absolute;
	width: 216px;
	height: 86px;
	left: 810px	;
	top: 808px;

	background: #808080;
	border: 2px solid #FFFFFF;
	border-radius: 50px;
	  
	  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

}
.register-nombre {
	position: absolute;
width: 622px;
height: 94px;
left: 654px;
top: 116px;

font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;
/* or 52px */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;

}
.register-nombre2 {
	box-sizing: border-box;

position: absolute;
width: 631px;
height: 93px;
left: 650px;
top: 217px;
font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;
/* or 52px */
border: 1px solid #000000;
border-radius: 13px;
}
.register-apellido {
	position: absolute;
width: 622px;
height: 94px;
left: 650px;
top: 304px;

font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;
/* or 52px */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;

}
.register-apellido2 {
	box-sizing: border-box;

position: absolute;
width: 631px;
height: 93px;
left: 647px;
top: 422px;
	font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;

border: 1px solid #000000;
border-radius: 13px;
}
.register-perfil {
	position: absolute;
width: 622px;
height: 94px;
left: 654px;
top: 551px;

font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;
/* or 52px */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}
.register-perfil2 {
	box-sizing: border-box;

position: absolute;
width: 631px;
height: 93px;
left: 647px;
top: 654px;
font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;
border: 1px solid #000000;
border-radius: 13px;
}
.register-pass {
	position: absolute;
width: 622px;
height: 94px;
left: 647px;
top: 750px;

font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;
/* or 52px */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}
.register-pass2 {
	box-sizing: border-box;

position: absolute;
width: 631px;
height: 93px;
left: 642px;
top: 851px;
font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 144.52%;
border: 1px solid #000000;
border-radius: 13px;
}
.register-botonpass {
	position: absolute;
width: 399px;
height: 103px;
left: 762px;
top: 1000px;

background: #1C1414;
box-shadow: 0px 4px 75px 16px rgba(0, 0, 0, 0.25);
border-radius: 85px;
	font-family: 'JejuGothic';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 144.52%;
/* or 58px */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;

}
.perfil-caja {
	position: absolute;
width: 100%;
height: 156px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, rgba(203, 173, 241, 0.82) 0%, rgba(255, 33, 33, 0.07) 114.1%);
}
.perfil-fondo{
	position: absolute;
width: 100%;
height: 1022px;
top: 155px;

background: linear-gradient(180deg, rgba(5, 187, 143, 0.13) 6.07%, rgba(255, 13, 71, 0.25) 106.07%);
}
.perfil-cajamatch {
	position: absolute;
width: 453px;
height: 133px;
left: 718px;
top: 11px;

background: #FFFFFF;
box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 56px;
}
.perfil-match{
	position: absolute;
width: 836px;
height: 106px;
left: 766px;
top: -100px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 132px;

background: linear-gradient(180deg, #FF0B0B 5.73%, #FFE600 39.06%, rgba(255, 127, 9, 0.07) 52.6%, rgba(255, 20, 232, 0.74) 68.23%, #12FFF1 86.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.perfil-menu {
	position: absolute;
width: 257px;
height: 109px;
left: 105px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.perfil-perfil {
	position: absolute;
width: 257px;
height: 109px;
left: 85%;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.perfil-publicaciones {
	position: absolute;
width: 580px;
height: 138px;
left: 35%;
top: 117px;

font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 138px;

background: linear-gradient(180deg, rgba(255, 1, 214, 0.98) 0%, rgba(5, 23, 67, 0.98) 47.92%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.perfil-place {
	position: absolute;
width: 340px;
height: 336px;
left: 123px;
top: 231px;

background: url(082213cb0f9eabb7e6715f59ef7d322a-icono-de-perfil-de-instagram.png);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.perfil-nombre {position: absolute;
width: 818px;
height: 108px;
left: 142px;
top: 550px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: rgba(0, 0, 0, 0.98);
}
.perfil-img {
position: absolute;
width: 54px;
height: 64px;
left: 463px;
top: 610px;

background: url(pngegg (4)), url(pngegg (4)), url(pngegg (4)), url(pngegg (4));
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.26)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.26)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.26));
}
.perfil-tags {
	position: absolute;
width: 130px;
height: 92px;
left: 37px;
top: 628px;

font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 92px;

color: rgba(0, 0, 0, 0.98);
}
.perfil-btn1 {
	position: absolute;
width: 252px;
height: 76px;
left: 52px;
top: 835px;
	font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;
	color: #FFFFFF;


background: rgba(0, 0, 0, 0.88);
border-radius: 15px;
}
.perfil-btn2 {
	position: absolute;
width: 252px;
height: 76px;
left: 334px;
top: 836px;
		font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;
	color: #FFFFFF;

background: rgba(0, 0, 0, 0.8);
border-radius: 15px;
}
.perfil-btn3 {
	position: absolute;
width: 252px;
height: 76px;
left: 52px;
top: 943px;
		font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;
	color: #FFFFFF;

background: rgba(0, 0, 0, 0.85);
border-radius: 15px;
}
.perfil-btn4 {
	position: absolute;
width: 252px;
height: 76px;
left: 334px;
top: 943px;
		font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;
	color: #FFFFFF;

background: rgba(0, 0, 0, 0.86);
border-radius: 15px;
}
.perfil-btn5 {
	position: absolute;
width: 252px;
height: 76px;
left: 52px;
top: 1051px;
		font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;
	color: #FFFFFF;

background: rgba(0, 0, 0, 0.84);
border-radius: 15px;
}
.perfil-btn6 {
position: absolute;
width: 252px;
height: 76px;
left: 334px;
top: 1050px;
		font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;
	color: #FFFFFF;

background: rgba(7, 6, 0, 0.86);
border-radius: 15px;
}
.perfil-foto {
	position: absolute;
width: 640px;
height: 582px;
left: 717px;
top: 399px;

background: url(gambino c.jpg);
border-radius: 30px;
}
.perfil-cuadro {
	position: absolute;
width: 473px;
height: 603px;
left: 1517px;
top: 399px;

background: rgba(255, 255, 255, 0.24);

}
.subir-foto {
	position: absolute;
width: 659px;
height: 587px;
left: 301px;
top: 247px;

background: rgba(201, 203, 203, 0.29);
box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.56);
border-radius: 30px;
}
.subir-icono {
	position: absolute;
width: 156px;
height: 182px;
left: 553px;
top: 450px;

background: url(free-photography-and-camera-icons-vector (2).jpg);
}
.subir-pun {
	position: absolute;
width: 697px;
height: 340px;
left: 1079px;
top: 417px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

background: linear-gradient(180deg, #4FDCCB 28.65%, #FFFFFE 54.69%, #FFCF55 65.1%, #FFFFFF 73.96%, rgba(125, 189, 95, 0.68) 79.17%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 4px 0px #FFC267;
background: linear-gradient(180deg, #536E8E 0%, #861C88 100%);
box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.66);
border-radius: 483px;
}
.subir-pc {
	position: absolute;
width: 102px;
height: 98px;
left: 301px;
top: 896px;

background: url(pngwing.png);
}
.subir-subir {
	box-sizing: border-box;

position: absolute;
width: 435px;
height: 81px;
left: 464px;
top: 913px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;
background: #FFFFFF;
border: 6px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.comentarios-titulo {
position: absolute;
width: 315px;
height: 109px;
left: 1636px;
top: 380px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;

}

.comentario-1 {
position: absolute;
width: 344px;
height: 116px;
left: 1680px;
top: 488px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;

}

.comentario-2 {
position: absolute;
width: 344px;
height: 116px;
left: 1540px;
top: 488px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #FF00D6;
}


.comentario-3 {
position: absolute;
width: 408px;
height: 88px;
left: 1540px;
top: 581px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #16830D;
}

.comentario-4 {
position: absolute;
width: 408px;
height: 88px;
left: 1723px;
top: 581px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #000000;
}
.comentario-5 {
position: absolute;
width: 408px;
height: 88px;
left: 1550px;
top: 620px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #000000;
}

.comentario-6 {
position: absolute;
width: 408px;
height: 88px;
left: 1540px;
top: 681px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #16830D;
}

.comentario-7 {
position: absolute;
width: 408px;
height: 132px;
left: 1723px;
top: 681px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

}
.comentario-8 {
position: absolute;
width: 408px;
height: 132px;
left: 1550px;
top: 721px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

}